div.window
  h1.window__h1 Life
  div.window__game
  div.window__controller
    input(value = numberOfRows).window__input
    button.window__button.window__button_play Play
    button.window__button.window__button_clear Clear
